__pycache__/
.vscode/
pyproject.toml

src/VipLoader.py
src/VipClient.py

examples/old
examples/Repro-*
examples/VipCI
# examples/vip-cli.py
examples/repro-brats
examples/repro-brats/data
examples/repro-brats/old

perso/
tests/
vip_outputs/