__pycache__/
.vscode/
vip_outputs/

src/future

examples/old
examples/Repro-*
examples/VipCI
# examples/vip-cli.py
examples/repro-brats
# examples/repro-brats/data
# examples/repro-brats/old

dist/
perso/
tests/*
