__pycache__/
.vscode/
vip_outputs/
perso/

examples/old
examples/Repro-*
examples/VipCI
# examples/vip-cli.py
examples/repro-brats
# examples/repro-brats/data
# examples/repro-brats/old

publish.sh
dist/
tests/*
